@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Coiny&family=DynaPuff:wght@400..700&family=Galindo&family=Griffy&family=Honk:MORF,SHLN@0..45,0..100&family=Lexend+Deca:wght@100..900&family=Lobster&family=Mogra&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@500&family=Ranchers&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Puddles&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #F0F0F0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.navbar{
    display: flex;
    width: 100%;
    align-content: center;  
    flex-direction: column;
    align-items: center;
}
.logo{
    display: flex;
}
.logo img{
    width: 200px;
    
}

h1{
    
    margin: 0%;
}
.menu{
    width: 80%;
    height: 600px;
    
    display: flex;
    justify-self: center;
}

.sidebar{
    border: maroon solid 1px;
    display: flex;
    justify-content: start;
    row-gap: 20px;
    flex-direction: column;
    padding-top: 30px;
}
.sidebar button{
    font-size: 25px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 1000;
    font-style: normal;
    padding: 0px 20px 0px 20px ;
    color: maroon;
    border: none;
    text-align: start;
}

.box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    gap: 20px;
    padding-top: 50px;
}
.card{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}
.card img{
    width: 100%;
    
}
.name{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: maroon(161, 161, 0);
    font-family: "Poppins", sans-serif;
    color: rgba(227, 32, 33);
}
